* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	color: #2f2e41;
	
}

body {
	background-image: url("https://www.transparenttextures.com/patterns/tree-bark.png");
}

.bg-primary, .btn-primary {
	background-color: mediumseagreen !important;
	/* background-image: url("https://www.transparenttextures.com/patterns/arches.png"); */
}

.jumbotron {
	background-image: url("https://www.transparenttextures.com/patterns/arches.png");
}

.btn-primary {
	border-color: mediumseagreen !important;
}

.btn-primary:hover {
	background-color: seagreen !important;
	border-color: seagreen !important;
}

.btn-outline-primary {
	border-color: mediumseagreen;
	color: mediumseagreen;
}

.btn-outline-primary:hover {
	border-color: seagreen;
	background-color: seagreen;
}

.text-primary {
	color: mediumseagreen !important;
}

#link:hover { /* the .text-primary above */
	color: seagreen !important;
}

.navbar-brand {
	/* font-family: 'Exo', sans-serif; */
	font-size: 1.75em;
	font-weight: 700;
}

a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

/* nav, footer {
	background-color: #3cb371;
	background-image: url("https://www.transparenttextures.com/patterns/arches.png");
} */

/* .my-5, .col-md-6 {
	border: 1px solid red;
} */

/* ========================================================================================================================================= */

/* INDEX */
.jumbotron {
	background-color: rgb(219, 250, 245);
}

#site-name {
	user-select: none;
	font-weight: 700;
	font-size: /* 7vw */ calc(40px + 1.5vw);
	min-width: 10vw;
	/* font-size: 5vw; */
	color: mediumseagreen;
}

#h-three {
	font-weight: 800;
}

#paragraph, 
#card-index-first, #card-index-second, #card-index-third {
	font-weight: 800;
}

#book-now {
	font-size: 2em;
	border-radius: 50px;
	font-weight: 700;
}
/* INDEX end */

/* ========================================================================================================================================= */

/* ADD COURSE */
#add-course {
	border-radius: 50px;
	font-weight: 500;
}

#header-addCourse {
	font-weight: 800;
}

#courseName-add, #coursePrice-add, #courseDescription, #create-course-btn {
	border-radius: 50px;
	font-weight: 500;
}

#courseName-add, #coursePrice-add, #courseDescription {
	background-color: rgb(206, 240, 235);
	border-color: rgb(206, 240, 235);
	color: black;
}

#main-addCourse {
	min-height: calc(100vh - 56px);
}
/* ADD COURSE end */

/* ========================================================================================================================================= */

/* COURSE */
#main-course {
	min-height: calc(100vh - 56px);
}

#course-container {
	border-radius: 20px;
}

.card-course > .card-header {
	background-color: #9ed9b8 !important;
}

.card-course > .card-body {
	background-color: #d8f0e3 !important;
}


#courseName {
	font-weight: 800;
}

#courseDesc, #coursePrice {
	font-weight: 400;
}

#enrollButton {
	border-radius: 50px;
	font-weight: 500;
}
/* COURSE end */

/* ========================================================================================================================================= */

/* COURSES */
#main-courses > h2 {
	font-weight: 800;
}

.card-courses {
	min-height: 60vh;
	max-height: 60vh;
}

.card-courses > .card-header {
	background-color: #9ed9b8 !important; 
}

.card-courses > .card-footer {
	background-color: #dff3e8 !important;
}

.card-courses > .card-body {
	background-color: #d8f0e3 !important;
}

.card-title {
	font-weight: 600;
}

#go-to-course, .act-deact{
	border-radius: 50px;
	font-weight: 500;
}
/* COURSES end */

/* ========================================================================================================================================= */

/* DELETE COURSE, REACTIVATE COURSE and LOG OUT*/
#disable-reactivate-logOut {
	font-weight: 800;
}

#go-back {
	border-radius: 50px;
	font-weight: 500;
}
/* DELETE COURSE, REACTIVATE COURSE and LOG OUT end */

/* ========================================================================================================================================= */

/* LOGIN and REGISTER*/
#main-login,
#main-register {
	min-height: 100vh;
}

#login, 
#register {
	font-weight: 800;
	color: #2f2e41;
}

/* #logInUser {
	box-shadow: 10px 10px 5px grey;
	border-radius: 10px;
} */

#userEmail, #password, #log-in-button, 
.input-text, #register-button {
	border-radius: 50px;
	font-weight: 500;
}

#userEmail, #password,
.input-text {
	background-color: rgb(206, 240, 235);
	border-color: rgb(206, 240, 235);
	color: black;
}
/* LOGIN and REGISTER end */

/* ========================================================================================================================================= */

/* PROFILE */
#main-profile {
	min-height: 100vh;
}

.header-profile {
	font-weight: 800;
}

#courses-header-profile {
	font-weight: 800;
}

.card-profile {
	min-height: 55vh;
	max-height: 55vh;
}

.card-profile > .card-header {
	background-color: #9ed9b8 !important;
}

.card-profile > .card-body {
	background-color: #d8f0e3 !important;
}

#courseDesc {
	font-size: 0.9em;
}

/* PROFILE end */